.catlistmenu {
	width:100px;
	height:300px;
	position: asbolute;
	color: #FFD800FF;
	font-size: 20px;
}

#catName {
	text-decoration: underline;
}

#catPic {
	border: 3px double grey;
	border-radius: 3px;
	position:static;
	width:400px;
	heigth:auto;
}
#catPic:hover{
	cursor: pointer;
}
